################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
src/Clients/onlineshop/package-lock.json
/src/Clients/onlineshop/package-lock.json
src/UserService/.DS_Store
